/**, html{
	margin:0px;
}
*/
body{
	text-align:center;
	margin:0;
	font-family:nunito,helvetica,verdana,sans-serif;
	font-size:1.2em;
}

h1{
	font-size:5.625rem;
	margin:3.125rem auto 0 auto;
	color:#66BFBF;
	line-height:.8;
}

h2{
	font-size:2.5rem;
	color:#66BFBF;
	font-weight:normal;
}

h3{
	color:#11999E;
}

a{
	color:#11999E;
}

figure{
	width:25%; 
	height:25%;
	float:left;
	padding-right:30px;
}

.topdiv {
	background-color:#B4C6A6;
	position:relative;
	padding-top:100px;
}

.bottomdiv{
	background-color:#FFC286;
}

.middlediv{
	background-color:#FFF1AF;
}

.pro{
	text-decoration:underline;
}

.bottomcloud{
	position:absolute;	
	left:300px;
	bottom:300px;
}

.topcloud{
	position:absolute;
	right:300px;
	top:50px;
}

.attribution{
	font-size:12px;
}

.icon {
	 width:100%; 
	 height:100%;
	 /*float:left;*/
	 /*padding-right:30px;*/
}

.skill-row{
	width:50%;
	margin:100px auto;
	text-align:left;
	line-height:1.5;
	
}